.categories {
    background-color: #FFF4D7;
    max-width: 1440px;
    margin: 0 auto;
    width: calc(100vw - 70px);
    padding: 50px 0 50px;
}

.categories__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    position: relative;
}

.categories__button {
    background-color: #FFEBB8;
    border: none;
    outline: none;
    width: 150px;
    height: 50px;
    margin: 0 15px 0 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
}

.categories__button-active {
    background-color: #FF9E44;
    border: none;
    outline: none;
    width: 150px;
    height: 50px;
    margin: 0 15px 0 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.categories__wrap {
    display: flex;
    cursor: pointer;
}

.categories__sort {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 0 8px 0 0;
}

.categories__filter {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FF9E44;
    margin: 0;
}

.categories-modal {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 50px;
    background: #FFF4D7;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
}

.categories-modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories-modal__button {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 0;
    width: 200px;
    background-color: #FFF4D7;
    border: none;
    outline: none;
    display: flex;
    justify-content: flex-start;
    padding: 15px 10px 15px 10px;
    cursor: pointer;
}

.categories-modal__button-active {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FF9E44;
    margin: 0;
    width: 200px;
    background-color: #FFEBB8;
    border: none;
    outline: none;
    display: flex;
    justify-content: flex-start;
    padding: 15px 10px 15px 10px;
    cursor: pointer;
}