.main {
    background-color: #FFF4D7;
    max-width: 1440px;
    margin: 0 auto 50px;
    width: calc(100vw - 70px);
    padding: 0 0 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main__pagination {
    margin: 75px 0 0;
}

.main__number {
    background-color: #FFF4D7;
    border: 2px solid #FF9E44;
    outline: none;
    width: 50px;
    height: 50px;
    margin: 0 15px 0 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 50px;
    cursor: pointer;
}

.main__number:last-of-type {
    margin: 0;
}