.search {
    border: 1px solid #A3A3A3;
    max-width: 320px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.search__container {
    display: flex;
}

.search__input {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin: 5px 0 0;
    background-color: #FFF4D7;
    outline: none;
    border: none;
    width: 250px;
}

.search__cancel {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin: 0 8px 0 0;
    cursor: pointer;
}

.search__logo {
    width: 30px;
    height: 30px;
    padding: 0 5px 0 10px;
}